auto-save-list/
eshell/
elpa/
melpa/
build/
eln-cache/
.cache/
.lsp-session-v1
.mc-lists.el
.DS_Store
*.elc
*.cask
custom.el
places
bookmarks
ido.last
projectile-bookmarks.eld
projectile.cache
recentf
history
custom.el
workspace/
